#################################################################################
 # Copyright (C) 2025 the Eclipse BaSyx Authors
 # Copyright (C) 2025 SAP SE
 #
 # Permission is hereby granted, free of charge, to any person obtaining
 # a copy of this software and associated documentation files (the
 # "Software"), to deal in the Software without restriction, including
 # without limitation the rights to use, copy, modify, merge, publish,
 # distribute, sublicense, and/or sell copies of the Software, and to
 # permit persons to whom the Software is furnished to do so, subject to
 # the following conditions:
 #
 # The above copyright notice and this permission notice shall be
 # included in all copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 # EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 # MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 # NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 # LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 # OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 # WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 #
 # SPDX-License-Identifier: MIT
#################################################################################

---
imagePullSecrets: []

enabled: true

image: 
  name: eclipsebasyx/digitaltwinregistry:2.0.0-SNAPSHOT
  pullPolicy: Always

resources: {}
podAnnotations: {}

service:
  type: ClusterIP
  port: 8081

ingress:
  enabled: false
  ingressClassName: ""
  annotations: {}
  host: aas-digitaltwinregistry.local

podSecurityContext: {}

securityContext: {}

apirule:
  enabled: true
  host: aas-digitaltwinregistry.local
  methods: 
    - "GET" 
    - "HEAD" 
    - "POST" 
    - "PUT" 
    - "DELETE" 
    - "CONNECT" 
    - "OPTIONS" 
    - "TRACE"
    - "PATCH"
 
  corsPolicy: 
    allowMethods:
    - POST
    - GET
    - PUT
    - DELETE
    - PATCH
    - OPTIONS
    - HEAD
    allowOrigins:
      - regex: ".*" 
    allowCredentials: true
rbac:
  rules: |
        [
          {
            "role": "basyx-assetid-creator",
            "action": "CREATE",
            "targetInformation": {
              "@type": "aas-discovery-service",
              "aasIds": "*",
              "assetIds": []
            }
          },
          {
            "role": "basyx-assetid-discoverer",
            "action": "READ",
            "targetInformation": {
              "@type": "aas-discovery-service",
              "aasIds": "*",
              "assetIds": []
            }
          },
          {
            "role": "basyx-assetid-deleter",
            "action": "DELETE",
            "targetInformation": {
              "@type": "aas-discovery-service",
              "aasIds": "*",
              "assetIds": []
            }
          },
          {
            "role": "basyx-aas-discoverer",
            "action": "READ",
            "targetInformation": {
              "@type": "aas-discovery-service",
              "aasIds": null,
              "assetIds": [
                {
                  "name": "*",
                  "value": "*"
                }
              ]
            }
          },
          {
            "role": "admin",
            "action": ["CREATE", "READ", "UPDATE", "DELETE"],
            "targetInformation": {
              "@type": "aas-discovery-service",
              "aasIds": "*",
              "assetIds": [
                {
                  "name": "*",
                  "value": "*"
                }
              ]
            }
          },
          {
            "role": "basyx-reader",
            "action": "READ",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "*"
            }
          },
          {
            "role": "admin",
            "action": ["CREATE", "READ", "UPDATE", "DELETE"],
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "*"
            }
          },
          {
            "role": "basyx-reader-two",
            "action": "READ",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "dummyShellId_3"
            }
          },
          {
            "role": "basyx-creator",
            "action": "CREATE",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "*"
            }
          },
          {
            "role": "basyx-updater",
            "action": "UPDATE",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "*"
            }
          },
          {
            "role": "basyx-updater-two",
            "action": "UPDATE",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "dummyShellId_3"
            }
          },
          {
            "role": "basyx-asset-updater",
            "action": "UPDATE",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "*"
            }
          },
          {
            "role": "basyx-asset-updater-two",
            "action": "UPDATE",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "specificAasId-2"
            }
          },
          {
            "role": "basyx-deleter",
            "action": "DELETE",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "*"
            }
          },
          {
            "role": "basyx-deleter-two",
            "action": "DELETE",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "specificAasId-2"
            }
          },
          {
            "role": "basyx-uploader",
            "action": "READ",
            "targetInformation": {
              "@type": "aas-registry",
              "aasIds": "*"
            }
          }
        ]

application: |
    spring.application.name=BaSyx Digital Twin Registry
    spring.profiles.active=logEvents,${SPRING_PROFILE:InMemory}
    spring.main.allow-bean-definition-overriding=true
    basyx.cors.allowed-methods=GET,POST,PATCH,DELETE,PUT,OPTIONS,HEAD
    basyx.cors.allowed-origins=*
    basyx.feature.authorization.enabled=false
    basyx.feature.authorization.type=rbac
    basyx.feature.authorization.jwtBearerTokenProvider=keycloak
    basyx.feature.authorization.rbac.file = file:/application/rbac-rules.json
    basyx.aasregistry.feature.discoveryintegration.enabled=true
    basyx.aasregistry.feature.discoveryintegration.baseUrl=http://localhost:8081
    basyx.endpoints.web.exposure.include=health,metrics,mappings
    description.profiles=https://admin-shell.io/aas/API/3/0/AssetAdministrationShellRegistryServiceSpecification/SSP-001, https://admin-shell.io/aas/API/3/0/AssetAdministrationShellRegistryServiceSpecification/SSP-002, https://admin-shell.io/aas/API/3/0/DiscoveryServiceSpecification/SSP-001
    logging.level.root=${LOGGING_LEVEL:INFO}
    logging.level.org.eclipse.digitaltwin.basyx=${LOGGING_LEVEL:INFO}
    server.port=8081
    spring.security.oauth2.resourceserver.jwt.issuer-uri=https://dummy/realms/BaSyx
    springdoc.api-docs.enabled=true
    springdoc.swagger-ui.enabled=true
    springdoc.swagger-ui.path=/swagger-ui.html
    springdoc.swagger-ui.csrf.enabled=false
application-MongoDB: |
  basyx.backend=MongoDB
  basyx.aasdiscoveryservice.mongodb.collectionName=${AUTHENTICATION_DATABASE:db-name}
  registry.type=MongoDB
  registry.discovery.enabled=true
  spring.config.activate.on-profile=MongoDB
  spring.data.mongodb.authentication-database=${AUTHENTICATION_DATABASE:db-name}
  spring.data.mongodb.database=${AUTHENTICATION_DATABASE:db-name}
  spring.data.mongodb.host=${DATABASE_HOST:hostname}
  spring.data.mongodb.port=${DATABASE_PORT:27017}
  spring.data.mongodb.username=${DATABASE_USERNAME:username}
  spring.data.mongodb.password=${DATABASE_PASSWORD:password}
application-InMemory: |
    basyx.backend=InMemory
    registry.type=InMemory
    registry.discovery.enabled=true
    spring.config.activate.on-profile=InMemory
    spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration,org.springframework.boot.autoconfigure.data.mongo.MongoDataAutoConfiguration
